################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SourceCode/.Net/DataAccess.DBEntities/bin/Debug/netcoreapp3.1
SourceCode/.Net/Copilot.Backend.Database/obj/Debug/Copilot.Backend.Database.dll
/.vs
/SourceCode/.Net/Copilot.Backend.Database/bin/Debug
/SourceCode/.Net/Copilot.Backend.Database/obj/Debug
/SourceCode/.Net/Copilot.Backend.Database/Copilot.Backend.Database.jfm
/SourceCode/.Net/Copilot.Backend.Database/Copilot.Backend.Database.dbmdl
/tests/Copilot.Backend.FunctionalTests/bin/Debug
/tests/Copilot.Backend.FunctionalTests/obj
/tests/Copilot.Backend.IntegrationTests/bin/Debug
/tests/Copilot.Backend.IntegrationTests/obj
/tests/Copilot.Backend.UnitTests/bin/Debug
/tests/Copilot.Backend.UnitTests/obj
/src/Copilot.Backend.Database/bin/Debug
/src/Copilot.Backend.Database/dbo
/src/Copilot.Backend.Database/obj/Debug
/src/Copilot.Backend.Database/Copilot.Backend.Database.jfm
/src/Copilot.Backend.Database/Copilot.Backend.Database.dbmdl
/TriggredFunctions/bin
/TriggredFunctions/obj
/tools/MCSBR.OneTimeJobs.MigratePersonalizedViews/MCSBR.OneTimeJobs.MigratePersonalizedViews/obj
/src/Copilot.Backend.Web/Scripts/React/Bundles/**
/src/Copilot.Backend.Shared/bin
/src/Copilot.Backend.Shared/obj
/Test/Copilot.Backend.Test/obj
/Test/Copilot.Backend.Test/bin
/src/Copilot.Backend.API/bin
/src/Copilot.Backend.API/obj
/.vs
/.config
/.sonarlint
/src/Copilot.Backend.Web/obj
/src/Copilot.Backend.Web.Test/obj
/Test/Copilot.Backend.Integration.Tests/obj
/Test/Copilot.Backend.Integration.Tests/bin
/src/Copilot.Backend.API/appsettings.Development.json
/src/Virtuoso.Framework.Logger.Core/bin/Debug
/src/Virtuoso.Framework.Logger.Core/obj
/src/Virtuoso.Copilot.API/bin/Debug/net6.0
/src/Virtuoso.Copilot.API/obj
/src/Virtuoso.Copilot.Core
/src/Virtuoso.Copilot.API
/src/Virtuoso.Copilot.Infrastructure
/src/Virtuoso.Copilot.Shared
/src/Virtuoso.Framework.Logger.Core
/src/Virtuoso.Copilot.Infrastructure/bin/Debug/net6.0
/src/Virtuoso.Copilot.Infrastructure/obj/Debug/net6.0
/src/Virtuoso.Copilot.Infrastructure/obj
/src/Virtuoso.Copilot.Shared/bin/Debug/net6.0
/src/Virtuoso.Copilot.Shared/obj/Debug/net6.0
/src/Virtuoso.Copilot.Shared/obj
/src/Virtuoso.Copilot.Web/node_modules
/Test/Virtuoso.Copilot.Integration.Tests/obj
/Test/Virtuoso.Copilot.Test/bin/Debug/net6.0
/Test/Virtuoso.Copilot.Test/obj/Debug/net6.0
/Test/Virtuoso.Copilot.Test/obj
/src/Virtuoso.Copilot.Web/obj/Debug
/src/Copilot.Backend.Logger.Core/bin/Debug
/src/Copilot.Backend.Logger.Core/obj
