CREATE PROCEDURE [dbo].[GetRoleFeaturesAndPermissions]   
    @alias NVARCHAR(50)    
AS    
BEGIN    
 SELECT     
    r.name AS RoleName,    
    f.name AS FeatureName,     
    STRING_AGG(p.name, ',') AS Permissions,
    df.name as DefaultFeature
FROM     
    role r ( NOLOCK)    
INNER JOIN     
    featureRolePermissionMapping  rp (NOLOCK) ON r.id = rp.roleId    
INNER JOIN     
    feature f (NOLOCK) ON f.id = rp.featureId    
INNER JOIN     
    permission p (NOLOCK) ON p.id = rp.permissionId    
INNER JOIN     
 [userRole] ur (NOLOCK) ON r.id = ur.roleId 
 LEFT JOIN 
    RoleDefaultFeatureMapping rdf (NOLOCK) ON rdf.roleId = r.id   
LEFT JOIN
    feature df (NOLOCK) ON df.id = rdf.featureId
 INNER JOIN     
-- [user] u (NOLOCK) ON u.id = ur.userId   
   [user] u (NOLOCK) ON u.alias = ur.alias 
WHERE     
    u.alias = @alias and r.isActive = 1 and rp.IsActive = 1 and f.isActive = 1 and p.isActive = 1 and u.isActive = 1  and ur.isActive=1  
GROUP BY     
    r.name, f.name, df.name  
ORDER BY    
 r.name    
END;