# See the FIN-FSS-SupplierExperience package feed upstreams:
# https://microsoftit.visualstudio.com/OneITVSO/_artifacts/feed/FIN-FSS-SupplierExperience/settings/upstreams
# The following upstreams are configured there, which are needed by this project:
# npmjs          https://registry.npmjs.org/
# Coherence      azure-feed://MicrosoftIT/OneITVSO/SE-DES-Coherence@Local
# Office         azure-feed://office/Office@Local
# m365admin      azure-feed://uifabric/m365admin@Local
#
# Using npm audit fix is not supported by Azure DevOps package feeds. See:
#   https://docs.microsoft.com/en-us/azure/devops/artifacts/npm/npm-audit?view=azure-devops&tabs=yaml
# But running audit fix against the public registry can be done. See package.json for "auditfix" script
# which can be run using: npm run auditfix
# registry=https://pkgs.dev.azure.com/VSOGD/OSE/_packaging/OSE_Portal/npm/registry/ 
# registry=https://microsoftit.pkgs.visualstudio.com/OneITVSO/_packaging/FIN-PAY-MSRecycling/npm/registry/
registry=https://pkgs.dev.azure.com/VSOGD/MCT/_packaging/MCT-Portal/npm/registry/
                        
always-auth=true
legacy-peer-deps=true
fetch-retry-maxtimeout=600000  # 10 minutes