registry=https://vsogd.pkgs.visualstudio.com/MCAPSHelp/_packaging/MCAPSHelp_PublicPackages/npm/registry/
 
                       
always-auth=true
package-lock=false                  
legacy-peer-deps=true
@iris:registry=https://pkgs.dev.azure.com/MicrosoftIT/OneITVSO/_packaging/PS-DM-IntelligentSupport/npm/registry/
@cseo:registry=https://microsoftit.pkgs.visualstudio.com/_packaging/ProductEngineering/npm/registry/
always-auth=true
package-lock=false
 