<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.webServer>
	    <staticContent>
	      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
	      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
		    <mimeMap fileExtension=".ttf" mimeType="application/x-font-ttf" />
		    <mimeMap fileExtension=".json" mimeType="application/json" />
	    </staticContent>	
      <httpErrors errorMode="Custom" existingResponse="Replace">
        <remove statusCode="404" subStatusCode="-1" />
        <error statusCode="404" path="/" responseMode="ExecuteURL" />
    </httpErrors>	
	<httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="Strict-Transport-Security" value="max-age=31536000" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="Permissions-Policy" value="accelerometer=(), camera=(), geolocation=(), gyroscope=(), magnetometer=(), microphone=(), payment=(), usb=()" />
      </customHeaders>
    </httpProtocol>   
	</system.webServer>
</configuration>